:root {
  --theme-radius: 0.75rem;
  --theme-radius-sm: 0.25rem;
  --theme-radius-md: 0.5rem;
  --theme-radius-lg: 0.75rem;
  --theme-radius-xl: 1rem;
  --theme-radius-2xl: 1.25rem;
  --theme-radius-3xl: 1.5rem;
  --theme-radius-4xl: 1.75rem;
  --theme-radius-full: 9999px;

  --radius: var(--theme-radius);
  --radius-sm: var(--theme-radius-sm);
  --radius-md: var(--theme-radius-md);
  --radius-lg: var(--theme-radius-lg);
  --radius-xl: var(--theme-radius-xl);
  --radius-2xl: var(--theme-radius-2xl);
  --radius-3xl: var(--theme-radius-3xl);
  --radius-4xl: var(--theme-radius-4xl);
  --radius-full: var(--theme-radius-full);
}
