[data-slot='carousel-content'] > div {
  --carousel-item-spacing: 1rem;
  margin-inline-start: calc(var(--carousel-item-spacing) * -1);
}

[data-slot='carousel-item'] {
  --carousel-item-spacing: 1rem;
  padding-inline-start: var(--carousel-item-spacing);
}
[data-ui='carousel-previous'],
[data-ui='carousel-next'] {
  --carousel-control-offset: 3rem;
  --carousel-control-radius: var(--radius-full);
  border-radius: var(--carousel-control-radius);
}
[data-ui='carousel-previous'] {
  left: calc(var(--carousel-control-offset) * -1);
}
[data-ui='carousel-next'] {
  right: calc(var(--carousel-control-offset) * -1);
}
