[data-slot='field-row-group'] {
  --field-row-group-gap: 0.5rem;
  gap: var(--field-row-group-gap);
}

[data-slot='field-row'] {
  --field-row-padding-x: 1rem;
  --field-row-padding-y: 0.75rem;
  padding: var(--field-row-padding-y) var(--field-row-padding-x);
}

[data-slot='field-row-label'] {
  --field-row-label-fg: var(--muted-foreground);
  color: var(--field-row-label-fg);
}
[data-slot='field-row-value'] {
  --field-row-value-fg: var(--foreground);
  color: var(--field-row-value-fg);
}
