[data-ui='notification-center-content'] {
  --notification-center-max-width: 24rem;
  --notification-center-max-height: 32rem;
  max-width: min(var(--notification-center-max-width), calc(100vw - 2rem));
  max-height: var(--notification-center-max-height);
}

[data-slot='notification-center'] [data-slot='button'] {
  position: relative;
}
