[data-slot='tooltip-content'] {
  --tooltip-content-bg: var(--black);
  --tooltip-content-fg: var(--neutral-0);
  --tooltip-content-radius: var(--radius-sm);
  --tooltip-content-max-width: 20rem;
  --tooltip-content-gap: 0.5rem;
  --tooltip-content-padding-x: 0.75rem;
  --tooltip-content-padding-y: 0.5rem;
  --tooltip-content-font-size: var(--typography-small-font-size);
  --tooltip-content-line-height: var(--typography-small-line-height);
  --tooltip-content-font-weight: var(--typography-p-font-weight);
  --tooltip-content-shadow: var(--shadow-sm);

  background-color: var(--tooltip-content-bg);
  color: var(--tooltip-content-fg);
  border-radius: var(--tooltip-content-radius);
  max-width: var(--tooltip-content-max-width);
  gap: var(--tooltip-content-gap);
  padding-inline: var(--tooltip-content-padding-x);
  padding-block: var(--tooltip-content-padding-y);
  font-size: var(--tooltip-content-font-size);
  line-height: var(--tooltip-content-line-height);
  font-weight: var(--tooltip-content-font-weight);
  box-shadow: var(--tooltip-content-shadow);
}
[data-slot='tooltip-content'] > svg {
  --tooltip-arrow-size: 0.6875rem;
  --tooltip-arrow-radius: 2px;
  fill: var(--tooltip-content-bg);
  color: var(--tooltip-content-bg);
  background-color: var(--tooltip-content-bg);
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  border-radius: var(--tooltip-arrow-radius);
}
